# SQL for Joining Data
Now that you've learned the basics of SQL, it's time to supercharge your queries using joins and relational set theory. In this course, you'll learn all about the power of joining tables while exploring interesting features of countries and their cities throughout the world. You will master inner and outer joins, as well as self joins, semi joins, anti joins and cross joinsâ€”fundamental tools in any PostgreSQL wizard's toolbox. Never fear set theory again after learning all about unions, intersections, and except clauses through easy-to-understand diagrams and examples. Lastly, you'll be introduced to the challenging topic of subqueries. You will be able to visually grasp these ideas by using Venn diagrams and other linking illustrations.

## Introduction to Joins 
In this chapter, you'll be introduced to the concept of joining tables, and will explore the different ways you can enrich your queries using inner joins and self joins. You'll also see how to use the case statement to split up a field into different categories.

The course is about using SQL to join two or more database tables into a single table, with a focus on INNER JOIN and LEFT JOIN. The instructor provides diagrams to help understand the mechanics of different joins. An example is given using the prime_ministers and presidents tables to find countries with both a prime minister and a president using INNER JOIN. The syntax for INNER JOIN in SQL is explained, and practice exercises are provided.

#### Inner Join
Although this course focuses on PostgreSQL, you'll find that these joins and the material here applies to different forms of SQL as well.

In [ ]:
-- Select all columns from cities
SELECT *
FROM cities;

In [ ]:
SELECT * 
FROM cities
  -- Inner join to countries
  INNER JOIN countries
    -- Match on the country codes
    ON cities.country_code = countries.code;

#### Inner Join (2)
Instead of writing the full table name, you can use table aliasing as a shortcut. For tables you also use AS to add the alias immediately after the table name with a space. Check out the aliasing of cities and countries below.

In [ ]:
-- Select fields with aliases
SELECT c.code AS country_code, name, year, inflation_rate
FROM countries AS c
  -- Join to economies (alias e)
  INNER JOIN economies AS e
    -- Match on code
    ON c.code = e.code;

### Inner Join (3)
The ability to combine multiple joins in a single query is a powerful feature of SQL

In [ ]:
-- Select fields
SELECT c.code, name, region, e.year, fertility_rate, unemployment_rate
  -- From countries (alias as c)
  FROM countries AS c
  -- Join to populations (as p)
  INNER JOIN populations AS p
    -- Match on country code
    ON c.code = p.country_code
  -- Join to economies (as e)
  INNER JOIN economies AS e
    -- Match on country code and year
    ON c.code = e.code AND e.year = p.year;

### INNER JOIN via USING
In this video, the instructor introduces the USING keyword in SQL and how it can be used in joins. The video starts by recapping the INNER JOIN diagram and SQL code needed to complete it. Then, the video demonstrates how to use the USING clause instead of the ON clause when the key field to join on has the same name in both tables. The example of joining the prime_ministers table to the presidents table to determine countries with both types of leaders is revisited to demonstrate the use of USING. The instructor notes that it doesn't matter the order in which the tables are placed in the join if we select columns from both tables. Finally, the video concludes with a practice exercise on INNER JOINs.

#### Review inner join using on
INNER JOIN requires a specification of the key field (or fields) in each table

### Inner Join with USING
When joining tables tables with a common field name

In [ ]:
-- Select fields
SELECT c.name AS country, continent, l.name AS language, official
  -- From countries (alias as c)
  FROM countries AS c
  -- Join to languages (as l)
  INNER JOIN languages AS l
    -- Match using code
    USING(code);

### Self-ish joins, just in CASE 
The article discusses self-joins in SQL where a table is joined with itself, allowing the comparison of values in a field to other values of the same field from within the same table. A self-join example is given using the "prime_ministers" table where a new table is created showing countries that are in the same continent matched as pairs. The article highlights the use of the key columns to match the table to itself and the need to avoid listing the country with itself. The "CASE" command is introduced as a useful tool for grouping numerical data into categories using simplified if-then-else statements. An example is given using the "indep_year" field in the "states" table where values are grouped into categories of before 1900, between 1900 and 1930, and after 1930. The article also includes practice exercises and a challenge to test the reader's knowledge of the chapter 1 material.

#### Self-join
In this exercise, you'll use the populations table to perform a self-join to calculate the percentage increase in population from 2010 to 2015 for each country code!

In [ ]:
-- Select fields with aliases
SELECT p1.country_code,
       p1.size AS size2010,
       p2.size AS size2015
-- From populations (alias as p1)
FROM populations AS p1
  -- Join to itself (alias as p2)
  INNER JOIN populations AS p2
    -- Match on country code
    ON  p1.country_code = p2.country_code;

In [ ]:
-- Select fields with aliases
SELECT p1.country_code,
       p1.size AS size2010,
       p2.size AS size2015
-- From populations (alias as p1)
FROM populations AS p1
  -- Join to itself (alias as p2)
  INNER JOIN populations AS p2
    -- Match on country code
    ON p1.country_code = p2.country_code
        -- and year (with calculation)
        AND p1.year = p2.year - 5;

In [ ]:
-- Select fields with aliases
SELECT p1.country_code,
       p1.size AS size2010, 
       p2.size AS size2015,
       -- Calculate growth_perc
       ((p2.size - p1.size)/p1.size * 100.0) AS growth_perc
-- From populations (alias as p1)
FROM populations AS p1
  -- Join to itself (alias as p2)
  INNER JOIN populations AS p2
    -- Match on country code
    ON p1.country_code = p2.country_code
        -- and year (with calculation)
        AND p1.year = p2.year - 5;

#### Case when and then 
Often it's useful to look at a numerical field not as raw data, but instead as being in different categories or groups.

You can use CASE with WHEN, THEN, ELSE, and END to define a new grouping field.

In [ ]:
SELECT name, continent, code, surface_area,
    -- First case
    CASE WHEN surface_area > 2000000 THEN 'large'
        -- Second case
        WHEN surface_area > 350000 THEN 'medium'
        -- Else clause + end
        ELSE 'small' END
        -- Alias name
        AS geosize_group
-- From table
FROM countries;

#### Inner Challenge 
The table you created with the added geosize_group field has been loaded for you here with the name countries_plus. Observe the use of (and the placement of) the INTO command to create this countries_plus table:

In [ ]:
SELECT country_code, size,
    -- First case
    CASE WHEN size > 50000000 THEN 'large'
        -- Second case
        WHEN size > 1000000 THEN 'medium'
        -- Else clause + end
        ELSE 'small' END
        -- Alias name (popsize_group)
        AS popsize_group
-- From table
FROM populations
-- Focus on 2015
WHERE year = 2015;

In [ ]:
SELECT country_code, size,
    CASE WHEN size > 50000000 THEN 'large'
        WHEN size > 1000000 THEN 'medium'
        ELSE 'small' END
        AS popsize_group
-- Into table
INTO pop_plus
FROM populations
WHERE year = 2015;

-- Select all columns of pop_plus
SELECT * FROM pop_plus;

In [ ]:
SELECT country_code, size,
  CASE WHEN size > 50000000
            THEN 'large'
       WHEN size > 1000000
            THEN 'medium'
       ELSE 'small' END
       AS popsize_group
INTO pop_plus       
FROM populations
WHERE year = 2015;

-- Select fields
SELECT name, continent, geosize_group, popsize_group
-- From countries_plus (alias as c)
FROM countries_plus AS c
  -- Join to pop_plus (alias as p)
  INNER JOIN pop_plus AS p
    -- Match on country code
    ON c.code = p.country_code
-- Order the table    
ORDER BY geosize_group;

## Outer Joins and Cross Joins
In this chapter, you'll come to grips with different kinds of outer joins. You'll learn how to gain further insights into your data through left joins, right joins, and full joins. In addition to outer joins, you'll also work with cross joins.

In Chapter 2 of the course, you will learn about OUTER JOINs. There are three types of OUTER JOINs: LEFT JOIN, RIGHT JOIN, and FULL JOIN. Unlike INNER JOINs, which only keep the records that are present in both tables, OUTER JOINs keep all the records from one table and combine them with the matching records from the other table.

The LEFT JOIN operation keeps all the records from the left table and combines them with the matching records from the right table. If there are no matches in the right table, the values are marked as missing. The RIGHT JOIN operation does the opposite: it keeps all the records from the right table and combines them with the matching records from the left table. If there are no matches in the left table, the values are marked as missing.

The syntax for LEFT JOIN and RIGHT JOIN is similar to that of INNER JOIN, with the difference being the keyword used. In LEFT JOIN, the keyword is "LEFT JOIN," and in RIGHT JOIN, the keyword is "RIGHT JOIN."

You will also learn about FULL JOIN, which combines the results of both LEFT JOIN and RIGHT JOIN. In FULL JOIN, all the records from both tables are kept and combined. If there are no matches in one table, the values are marked as missing.

To practice OUTER JOINs, you can use the diagrams provided and write SQL queries using the appropriate JOIN keyword.

#### Left Join 
Now you'll explore the differences between performing an inner join and a left join using the cities and countries tables.

You'll begin by performing an inner join with the cities table on the left and the countries table on the right. Remember to alias the name of the city field as city and the name of the country field as country.

In [ ]:
-- Select the city name (with alias), the country code,
-- the country name (with alias), the region,
-- and the city proper population
SELECT c1.name AS city, code, c2.name AS country,
       region, city_proper_pop
-- From left table (with alias)
FROM cities AS c1
  -- Join to right table (with alias)
  INNER JOIN countries AS c2
    -- Match on country code?
    ON c1.country_code = c2.code
-- Order based on descending country code
ORDER BY code DESC;

You will then change the query to a left join. Take note of how many records are in each query here!

Change the code to perform a LEFT JOIN instead of an INNER JOIN. After executing this query, note how many records the query result contains.

In [ ]:
SELECT c1.name AS city, code, c2.name AS country,
       region, city_proper_pop
FROM cities AS c1
  -- Join right table (with alias)
  LEFT JOIN countries AS c2
    -- Match on country code
    ON c1.country_code = c2.code
-- Order by descending country code
ORDER BY code DESC;

#### Left join (2)

Next, you'll try out another example comparing an inner join to its corresponding left join. Before you begin though, take note of how many records are in both the countries and languages tables below.

You will begin with an inner join on the countries table on the left with the languages table on the right. Then you'll change the code to a left join in the next bullet.

Note the use of multi-line comments here using /* and */.

Perform an inner join and alias the name of the country field as country and the name of the language field as language.
Sort based on descending country name.

In [ ]:
/*
Select country name AS country, the country's local name,
the language name AS language, and
the percent of the language spoken in the country
*/
SELECT c.name AS country, local_name, l.name AS language, percent
-- From left table (alias as c)
FROM countries AS c
  -- Join to right table (alias as l)
  INNER JOIN languages AS l
    -- Match on fields
    ON c.code = l.code
-- Order by descending country
ORDER BY country DESC;

Perform a left join instead of an inner join. Observe the result, and also note the change in the number of records in the result.
Carefully review which records appear in the left join result, but not in the inner join result.

In [ ]:
/*
Select country name AS country, the country's local name,
the language name AS language, and
the percent of the language spoken in the country
*/
SELECT c.name AS country, local_name, l.name AS language, percent
-- From left table (alias as c)
FROM countries AS c
  -- Join to right table (alias as l)
  LEFT JOIN languages AS l
    -- Match on fields
    ON c.code = l.code
-- Order by descending country
ORDER BY country DESC;

#### Left Join (3)
You'll now revisit the use of the AVG() function introduced in our introductory SQL course. You will use it in combination with left join to determine the average gross domestic product (GDP) per capita by region in 2010.

Begin with a left join with the countries table on the left and the economies table on the right.
Focus only on records with 2010 as the year.

In [ ]:
-- Select name, region, and gdp_percapita
SELECT name, region, gdp_percapita
-- From countries (alias as c)
FROM countries AS c
  -- Left join with economies (alias as e)
  LEFT JOIN economies AS e
    -- Match on code fields
    ON c.code = e.code
-- Focus on 2010
WHERE year = 2010;

Modify your code to calculate the average GDP per capita AS avg_gdp for each region in 2010.

Select the region and avg_gdp fields.

In [ ]:
-- Select fields
SELECT region, AVG(gdp_percapita) AS avg_gdp
-- From countries (alias as c)
FROM countries AS c
  -- Left join with economies (alias as e)
  LEFT JOIN economies AS e
    -- Match on code fields
    ON c.code = e.code
-- Focus on 2010
WHERE year = 2010
-- Group by region
GROUP BY region;

Arrange this data on average GDP per capita for each region in 2010 from highest to lowest average GDP per capita.

In [ ]:
-- Select fields
SELECT region, AVG(gdp_percapita) AS avg_gdp
-- From countries (alias as c)
FROM countries AS c
  -- Left join with economies (alias as e)
  LEFT JOIN economies AS e
    -- Match on code fields
    ON c.code = e.code
-- Focus on 2010
WHERE year = 2010
-- Group by region
GROUP BY region
-- Order by descending avg_gdp
ORDER BY avg_gdp DESC;

#### Right join
Right joins aren't as common as left joins. One reason why is that you always write a right join as a left join. 

***Instructions***
The left join code is commented out here. Your task is to write a new query using rights joins that produces the same result as what the query using left joins produces. Keep this left joins code commented as you write your own query just below it using right joins to solve the problem.

Note the order of the joins matters in your conversion to using right joins!

In [ ]:
-- convert this code to use RIGHT JOINs instead of LEFT JOINs
/*
SELECT cities.name AS city, urbanarea_pop, countries.name AS country,
       indep_year, languages.name AS language, percent
FROM cities
  LEFT JOIN countries
    ON cities.country_code = countries.code
  LEFT JOIN languages
    ON countries.code = languages.code
ORDER BY city, language;
*/

SELECT cities.name AS city, urbanarea_pop, countries.name AS country,
       indep_year, languages.name AS language, percent
FROM languages
  RIGHT JOIN countries
    ON languages.code = countries.code
  RIGHT JOIN cities
    ON countries.code = cities.country_code
ORDER BY city, language;

### Full Joins 
This text is discussing the concept of FULL JOINs in SQL, which is one of the three types of OUTER JOINs. The article begins by explaining the differences between FULL JOINs, INNER JOINs, and LEFT/RIGHT JOINs. It then describes how INNER JOINs and LEFT/RIGHT JOINs work by keeping only the matching records and all the records from one table, respectively.

The article goes on to explain that a FULL JOIN combines a LEFT JOIN and a RIGHT JOIN and includes all records from both tables while keeping track of missing values. The text includes a diagram that illustrates this concept and shows how it includes all six values of id. The article provides SQL code that produces the FULL JOIN result.

Next, the article explores an example from the leaders database, where it uses a FULL JOIN to look at countries with prime ministers and/or presidents. It includes the SQL code and describes each step, including specifying the left and right tables, joining the tables based on the key field of country, and selecting the relevant fields. The article also provides an example of the FULL JOIN results using the leaders database.

Finally, the article concludes with a practice exercise to help users solidify their understanding of FULL JOINs.

#### Full join 
In this exercise, you'll examine how your results differ when using a full join versus using a left join versus using an inner join with the countries and currencies tables.

You will focus on the North American region and also where the name of the country is missing. Dig in to see what we mean!

Begin with a full join with countries on the left and currencies on the right. The fields of interest have been SELECTed for you throughout this exercise.

Then complete a similar left join and conclude with an inner join.

***Instructions***
Choose records in which region corresponds to North America or is NULL.

In [ ]:
SELECT name AS country, code, region, basic_unit
-- From countries
FROM countries
  -- Join to currencies
  FULL JOIN currencies
    -- Match on code
    USING (code)
-- Where region is North America or null
WHERE region = 'North America' OR region IS NULL
-- Order by region
ORDER BY region;

***Instructions*** Repeat the same query as before, using a LEFT JOIN instead of a FULL JOIN. Note what has changed compared to the FULL JOIN result!

In [ ]:
SELECT name AS country, code, region, basic_unit
-- From countries
FROM countries
  -- Join to currencies
  LEFT JOIN currencies
    -- Match on code
    USING (code)
-- Where region is North America or null
WHERE region = 'North America' OR region IS NULL
-- Order by region
ORDER BY region;

***Instructions*** Repeat the same query again but use an INNER JOIN instead of a FULL JOIN. Note what has changed compared to the FULL JOIN and LEFT JOIN results!

In [ ]:
SELECT name AS country, code, region, basic_unit
-- From countries
FROM countries
  -- Join to currencies
  INNER JOIN currencies
    -- Match on code
    USING (code)
-- Where region is North America or null
WHERE region = 'North America' OR region IS NULL
-- Order by region
ORDER BY region;

#### Full Join (2)
You'll now investigate a similar exercise to the last one, but this time focused on using a table with more records on the left than the right. You'll work with the languages and countries tables.

Begin with a full join with languages on the left and countries on the right. Appropriate fields have been selected for you again here.

***Instructions:*** Choose records in which countries.name starts with the capital letter 'V' or is NULL.
Arrange by countries.name in ascending order to more clearly see the results.

In [ ]:
SELECT countries.name, code, languages.name AS language
-- From languages
FROM languages
  -- Join to countries
  FULL JOIN countries
    -- Match on code
    USING (code)
-- Where countries.name starts with V or is null
WHERE countries.name LIKE 'V%' OR countries.name IS NULL
-- Order by ascending countries.name
ORDER BY countries.name;

***Instructions:*** Repeat the same query as before, using a LEFT JOIN instead of a FULL JOIN. Note what has changed compared to the FULL JOIN result!

In [ ]:
SELECT countries.name, code, languages.name AS language
-- From languages
FROM languages
  -- Join to countries
  LEFT JOIN countries
    -- Match using code
    USING (code)
-- Where countries.name starts with V or is null
WHERE countries.name LIKE 'V%' OR countries.name IS NULL
-- Order by ascending countries.name
ORDER BY countries.name;

***Instructions:*** Repeat once more, but use an INNER JOIN instead of a LEFT JOIN. Note what has changed compared to the FULL JOIN and LEFT JOIN results.

In [ ]:
SELECT countries.name, code, languages.name AS language
-- From languages
FROM languages
  -- Join to countries
  INNER JOIN countries
  -- Match using code
    USING (code)
-- Where countries.name starts with V or is null
WHERE countries.name LIKE 'V%' OR countries.name IS NULL
-- Order by ascending countries.name
ORDER BY countries.name;

#### Full Join (3)
You'll now explore using two consecutive full joins on the three tables you worked with in the previous two exercises.

***Instructions:*** 
1. Complete a full join with countries on the left and languages on the right.
2. Next, full join this result with currencies on the right.
3. Use LIKE to choose the Melanesia and Micronesia regions (Hint: 'M%esia').
4. Select the fields corresponding to the country name AS country, region, language name AS language, and basic and fractional units of currency.

In [ ]:
-- Select fields (with aliases)
SELECT c1.name AS country, region, l.name AS language,
       basic_unit, frac_unit
-- From countries (alias as c1)
FROM countries AS c1
  -- Join with languages (alias as l)
  FULL JOIN languages AS l
    -- Match on code
    USING (code)
  -- Join with currencies (alias as c2)
  FULL JOIN currencies AS c2
    -- Match on code
    USING (code)
-- Where region like Melanesia and Micronesia
WHERE region LIKE 'M%esia';

### CROSSing the rubicon 
This lesson introduces the CROSS JOIN, which creates all possible combinations of two tables. The resulting table will have a number of rows equal to the product of the number of rows in the two input tables. The CROSS JOIN syntax is similar to that of INNER JOINs and OUTER JOINs.

As an example, the lesson shows how to use a CROSS JOIN to generate all possible pairings between prime ministers and presidents in the leaders database. The resulting table has a row for each combination of prime minister and president.

For an entry-level data scientist, it is important to understand the differences between INNER JOINs, OUTER JOINs, and CROSS JOINs. While INNER JOINs and OUTER JOINs merge tables based on matching key field values, CROSS JOINs create all possible combinations of the two tables. CROSS JOINs can be useful in situations where you want to generate all possible pairings between two tables or to generate test data for analysis. However, they should be used with caution as they can result in large tables that may be difficult to manage or analyze.

#### A table of two cities 
This exercise looks to explore languages potentially and most frequently spoken in the cities of Hyderabad, India and Hyderabad, Pakistan.

***Instructions:*** 
1. Create a CROSS JOIN with cities AS c on the left and languages AS l on the right.
2. Make use of LIKE and Hyder% to choose Hyderabad in both countries.
3. Select only the city name AS city and language name AS language.

In [ ]:
-- Select fields
SELECT c.name AS city, l.name AS language
-- From cities (alias as c)
FROM cities AS c        
  -- Join to languages (alias as l)
  CROSS JOIN languages AS l
-- Where c.name like Hyderabad
WHERE c.name LIKE 'Hyder%';

***Instructions*** 
1. Use an INNER JOIN instead of a CROSS JOIN. Think about what the difference will be in the results for this INNER JOIN result and the one for the CROSS JOIN.

In [ ]:
-- Select fields
SELECT c.name AS city, l.name AS language
-- From cities (alias as c)
FROM cities AS c        
  -- Join to languages (alias as l)
  INNER JOIN languages AS l
    -- Match on country code
    ON c.country_code = l.code
-- Where c.name like Hyderabad
WHERE c.name LIKE 'Hyder%';

### Outer challenge
Now that you're fully equipped to use OUTER JOINs, try a challenge problem to test your knowledge!

In terms of life expectancy for 2010, determine the names of the lowest five countries and their regions.

***Instructions*** 
1. Select country name AS country, region, and life expectancy AS life_exp.
2. Make sure to use LEFT JOIN, WHERE, ORDER BY, and LIMIT.

In [ ]:
-- Select fields
SELECT c.name AS country,
       region,
       life_expectancy AS life_exp
-- From countries (alias as c)
FROM countries AS c
  -- Join to populations (alias as p)
  LEFT JOIN populations AS p
    -- Match on country code
    ON c.code = p.country_code
-- Focus on 2010
WHERE year = 2010
-- Order by life_exp
ORDER BY life_exp
-- Limit to 5 records
LIMIT 5;

## Set Theory Clauses 
In this chapter, you'll learn more about set theory using Venn diagrams and get an introduction to union, union all, intersect, and except clauses. You'll finish by investigating semi joins and anti joins, which provide a nice introduction to subqueries.

Chapter 3 of the material focuses on set theory clauses, specifically the operations of UNION and UNION ALL. The video explains how Venn diagrams can be used to represent set operations, where each circle represents a table of data and the shading represents what is included in the result of the set operation from each table. UNION includes every record in both tables but does not double-count those that are in both tables, while UNION ALL includes every record in both tables and does replicate those that are in both tables. The video then provides diagrams and examples of UNION and UNION ALL operations on tables with one field, as well as the monarchs table in the leaders database. The resulting table from the UNION gives all the leaders and their corresponding country. The video concludes by explaining that UNION and UNION ALL clauses stack records on top of each other from one table to the next without doing a lookup step.

### Union 

You have two new tables, economies2010 and economies2015, available to you. The economies table is also included for reference.

***Instructions***
Combine the two new tables into one table containing all of the fields in economies2010.
Sort this resulting single table by country code and then by year, both in ascending order.

In [ ]:
-- Select fields from 2010 table
SELECT *
  -- From 2010 table
  FROM economies2010
    -- Set theory clause
    UNION
-- Select fields from 2015 table
SELECT *
  -- From 2015 table
  FROM economies2015
-- Order by code and year
ORDER BY code, year;

#### Union (2)

UNION can also be used to determine all occurrences of a field across multiple tables. Try out this exercise with no starter code.

***Instructions:***
1. Determine all (non-duplicated) country codes in either the cities or the currencies table. The result should be a table with only one field called country_code.
2. Sort by country_code in alphabetical order.

In [ ]:
-- Select field
SELECT country_code
  -- From cities
  FROM cities
	-- Set theory clause
	UNION
-- Select field
SELECT code
  -- From currencies
  FROM currencies
-- Order by country_code
ORDER BY country_code;

#### Union all

As you saw, duplicates were removed from the previous two exercises by using UNION.

To include duplicates, you can use UNION ALL.

***Instructions***
1) Determine all combinations (include duplicates) of country code and year that exist in either the economies or the populations tables. Order by code then year.
2) The result of the query should only have two columns/fields. Think about how many records this query should result in.
3) You'll use code very similar to this in your next exercise after the video. Make note of this code after completing it.

In [ ]:
-- Select fields
SELECT code, year
  -- From economies
  FROM economies
	-- Set theory clause
	UNION ALL
-- Select fields
SELECT country_code, year
  -- From populations
  FROM populations
-- Order by code, year
ORDER BY code, year;

### INTERSECTional Data Science

#### Intersect 
UNION ALL will extract all records from two tables, while INTERSECT will only return records that both tables have in common. In this exercise, you will create a similar query as before, however, this time you will look at the records in common for country code and year for the economies and populations tables.

Note the number of records from the result of this query compared to the similar UNION ALL query result of 814 records.

***Instructions:***
* Use INTERSECT to determine the records in common for country code and year for the economies and populations tables.
* Again, order by code and then by year, both in ascending order.

In [ ]:
-- Select fields
SELECT code, year
  -- From economies
  FROM economies
	-- Set theory clause
	INTERSECT
-- Select fields
SELECT country_code, year
  -- From populations
  FROM populations
-- Order by code and year
ORDER BY code, year;

#### Intersect (2)
As you think about major world cities and their corresponding country, you may ask which countries also have a city with the same name as their country name?

In [ ]:
-- Select fields
SELECT name
  -- From countries
  FROM countries
	-- Set theory clause
	INTERSECT
-- Select fields
SELECT name
  -- From cities
  FROM cities;

### EXCEPTional

#### Except
Get the names of cities in cities which are not noted as capital cities in countries as a single field result.

Note that there are some countries in the world that are not included in the countries table, which will result in some cities not being labeled as capital cities when in fact they are.

***Instructions***
* Order the resulting field in ascending order.
* Can you spot the city/cities that are actually capital cities which this query misses?

In [ ]:
-- Select field
SELECT name
  -- From cities
  FROM cities
	-- Set theory clause
	EXCEPT
-- Select field
SELECT capital
  -- From countries
  FROM countries
-- Order by result
ORDER BY name;

#### Except (2)

Now you will complete the previous query in reverse!

Determine the names of capital cities that are not listed in the cities table.

***Instructions:***
* Order by capital in ascending order.
* The cities table contains information about 236 of the world's most populous cities. The result of your query may surprise you in terms of the number of capital cities that do not appear in this list!

In [ ]:
-- Select field
SELECT capital
  -- From countries
  FROM countries
	-- Set theory clause
	EXCEPT
-- Select field
SELECT name
  -- From cities
  FROM cities
-- Order by ascending capital
ORDER BY capital;

### Semi-Joins and Anti-Joins

#### Semi-Join 
You are now going to use the concept of a semi-join to identify languages spoken in the Middle East.

***Instructions:***
Begin by selecting all country codes in the Middle East as a single field result using SELECT, FROM, and WHERE.

In [ ]:
-- Select code
SELECT code
  -- From countries
  FROM countries
-- Where region is Middle East
WHERE region = 'Middle East';

***Instructions (2)***
Below the commented code, select only unique languages by name appearing in the languages table.
Order the resulting single field table by name in ascending order.

In [ ]:
-- Query from step 1:
/*
SELECT code
  FROM countries
WHERE region = 'Middle East';
*/

-- Select field
SELECT DISTINCT name
  -- From languages
  FROM languages
-- Order by name
ORDER BY name;

***Instructions (3)*** 
- Combine the previous two queries into one query by adding a WHERE IN statement to the SELECT DISTINCT query to determine the unique languages spoken in the Middle East.
- Order the result by name in ascending order.

In [ ]:
-- Query from step 2
SELECT DISTINCT name
  FROM languages
-- Where in statement
WHERE code IN
  -- Query from step 1
  -- Subquery
  (SELECT code
   FROM countries
   WHERE region = 'Middle East')
-- Order by name
ORDER BY name;

### Diagnosing problems using anti-join 
Another powerful join in SQL is the anti-join. It is particularly useful in identifying which records are causing an incorrect number of records to appear in join queries.

You will also see another example of a subquery here, as you saw in the first exercise on semi-joins. Your goal is to identify the currencies used in Oceanian countries!

***Instructions (1):*** 

- Begin by determining the number of countries in countries that are listed in Oceania using SELECT, FROM, and WHERE.

In [ ]:
-- Select statement
SELECT COUNT(*)
  -- From countries
  FROM countries
-- Where continent is Oceania
WHERE continent = 'Oceania';

***Instructions (2):***
- Complete an inner join with countries AS c1 on the left and currencies AS c2 on the right to get the different currencies used in the countries of Oceania.
- Match ON the code field in the two tables.
- Include the country code, country name, and basic_unit AS currency.
- Observe the query result and make note of how many different countries are listed here.

In [3]:
-- Select fields (with aliases)
SELECT c1.code, name, basic_unit AS currency
  -- From countries (alias as c1)
  FROM countries AS c1
  	-- Join with currencies (alias as c2)
  	INNER JOIN currencies AS c2
    -- Match on code
    ON c1.code = c2.code
-- Where continent is Oceania
WHERE c1.continent = 'Oceania';

***Instructions (3)***
- Note that not all countries in Oceania were listed in the resulting inner join with currencies. Use an anti-join to determine which countries were not included!
- Use NOT IN and (SELECT code FROM currencies) as a subquery to get the country code and country name for the Oceanian countries that are not included in the currencies table.

In [4]:
-- Select fields
SELECT code, name
  -- From Countries
  FROM countries
  -- Where continent is Oceania
  WHERE continent = 'Oceania'
  	-- And code not in
  	AND code NOT IN
  	-- Subquery
  	(SELECT code
  	 FROM currencies);

### Set Theory Challenge

Congratulations! You've now made your way to the challenge problem for this third chapter. Your task here will be to incorporate two of UNION/UNION ALL/INTERSECT/EXCEPT to solve a challenge involving three tables.

In addition, you will use a subquery as you have in the last two exercises! This will be great practice as you hop into subqueries more in Chapter 4!

***Instructions (1)***
- Identify the country codes that are included in either economies or currencies but not in populations.
- Use that result to determine the names of cities in the countries that match the specification in the previous instruction.

In [ ]:
-- Select the city name
SELECT name
  -- Alias the table where city name resides
  FROM cities AS c1
  -- Choose only records matching the result of multiple set theory clauses
  WHERE country_code IN
(
    -- Select appropriate field from economies AS e
    SELECT e.code
    FROM economies AS e
    -- Get all additional (unique) values of the field from currencies AS c2   
    UNION
    SELECT c2.code
    FROM currencies AS c2
    -- Exclude those appearing in populations AS p  
    EXCEPT
    SELECT p.country_code
    FROM populations AS p
);

## Subqueries
In this closing chapter, you'll learn how to use nested queries and you'll use what youâ€™ve learned in this course to solve three challenge problems.

This text is a summary of the last chapter of a course on SQL queries. The chapter is focused on subqueries, also known as nested queries, which are queries embedded inside other queries. The text explains the most common types of subqueries, which are those inside the WHERE and SELECT clauses. The chapter provides examples of using subqueries in both of these contexts.

The first example shows how to use a subquery inside a WHERE clause to determine the average fertility rate across a group of countries. The chapter then uses this subquery to identify Asian countries with fertility rates below the average. The second example shows how to use a subquery inside a SELECT clause to count the number of countries listed in a table for each continent in another table. The chapter provides the stepwise approach to set up this query.

The text also emphasizes the importance of giving subqueries an alias, especially when used in a SELECT clause. The chapter concludes with practice exercises to test subquery expertise.

***Analogy*** 
- Think of subqueries like nesting dolls. Just like how nesting dolls have smaller dolls inside a larger doll, subqueries have queries inside other queries.
  
- Subqueries are important because they allow you to break down complex problems into smaller, more manageable pieces. This makes it easier to write and understand SQL queries.
  
- Using subqueries is like solving a puzzle. You have a big picture that you want to solve, but it can be overwhelming to tackle all at once. So, you break it down into smaller pieces and solve each one separately. Once all the pieces are solved, you can put them back together to see the bigger picture.

#### Subquery inside Where
You'll now try to figure out which countries had high average life expectancies (at the country level) in 2015.

***Instructions (1)*** 
* Begin by calculating the average life expectancy across all countries for 2015.

In [ ]:
-- Select average life_expectancy
SELECT AVG(life_expectancy)
  -- From populations
  FROM populations
-- Where year is 2015
WHERE year = 2015;

***Instructions (2)***

Select all fields from populations with records corresponding to larger than 1.15 times the average you calculated in the first task for 2015. In other words, change the 100 in the example above with a subquery.

In [ ]:
-- Select fields
SELECT *
  -- From populations
  FROM populations
-- Where life_expectancy is greater than
WHERE life_expectancy >
  -- 1.15 * subquery
  1.15 * (SELECT AVG(life_expectancy)
   FROM populations
   WHERE year = 2015) AND
  year = 2015;

#### Subquery inside where (2)

Use your knowledge of subqueries in WHERE to get the urban area population for only capital cities.

***Instructions (1)***

* Make use of the capital field in the countries table in your subquery.
* Select the city name, country code, and urban area population fields.

In [ ]:
-- Select fields
SELECT name, country_code, urbanarea_pop
  -- From cities
  FROM cities
-- Where city name in the field of capital cities
WHERE name IN
  -- Subquery
  (SELECT capital
   FROM countries)
ORDER BY urbanarea_pop DESC;

### Subquery inside select 

In this exercise, you'll see how some queries can be written using either a join or a subquery.

You have seen previously how to use GROUP BY with aggregate functions and an inner join to get summarized information from multiple tables.

The code given in the first query selects the top nine countries in terms of number of cities appearing in the cities table. Recall that this corresponds to the most populous cities in the world. Your task will be to convert the second query to get the same result as the provided code.

***Summarization***
* In this exercise, you'll learn how to use either a join or a subquery to write queries that summarize information from multiple tables. The goal is to select the top nine countries with the most populous cities in the world. The first query uses an inner join and aggregate functions to achieve this, while the second query is incomplete and requires you to use a subquery to get the same result as the first query.

***Analogy***
- This exercise is like baking a cake. You have two different recipes to choose from - one that uses a whisk and a mixing bowl to combine the ingredients, and another that uses a blender. Both recipes will give you a delicious cake, but the process is slightly different. Similarly, in SQL, you can use either a join or a subquery to get summarized information from multiple tables. The first query provided in the exercise uses an inner join to select the top nine countries with the most populous cities in the world, while the second query is incomplete and requires you to use a subquery to achieve the same result as the first query.

***Instructions (1)***
submit the code

In [ ]:
SELECT countries.name AS country, COUNT(*) AS cities_num
  FROM cities
    INNER JOIN countries
    ON countries.code = cities.country_code
GROUP BY country
ORDER BY cities_num DESC, country
LIMIT 9;

***Instructions (2)***
- Convert the GROUP BY code to use a subquery inside of SELECT by filling in the blanks to get a result that matches the one given using the GROUP BY code in the first query.
- Again, sort the result by cities_num descending and then by country ascending.

In [ ]:
/*
SELECT countries.name AS country, COUNT(*) AS cities_num
  FROM cities
	  INNER JOIN countries
	  ON countries.code = cities.country_code
GROUP BY country
ORDER BY cities_num DESC, country
LIMIT 9;
*/

SELECT countries.name AS country,
  -- Subquery
  (SELECT COUNT(*)
   FROM cities
   WHERE countries.code = cities.country_code) AS cities_num
FROM countries
ORDER BY cities_num DESC, country
LIMIT 9;

### Subquery inside FROM clause 

1. The article discusses the third type of subquery, which exists inside a FROM clause.
2. The example used in the article is about determining the maximum percentage of women in parliament for each continent listed in the states table.
3. Including the continent field in the SELECT clause is required since the query is grouping based on that field.
4. A way to get the continents only in monarchs table is to include multiple tables in the FROM clause by adding a comma between them.
5. To remove duplicate entries, use the DISTINCT command in the SELECT statement.
6. To include the maximum column along with Asia and Europe, include the subquery in the FROM clause instead of states and alias it with a name like "subquery".
7. This technique allows the subquery to act as a temporary table in the FROM clause.
8. The article encourages readers to practice and test their understanding of subqueries and SQL in general.
9. The exercises in the course are designed to challenge the reader and solidify their knowledge.

***Analogy***

* Imagine you're a chef who wants to make a dish that requires several ingredients from different suppliers. You need to know which supplier offers the best quality ingredients for each item in order to make the best dish possible. In this analogy, the suppliers represent the tables in a database, and the ingredients represent the data within those tables.
  
* You can use a subquery as a way of comparing the data from different tables to determine the best quality data for your final result. This is similar to how you might compare different suppliers to find the best quality ingredients. The subquery can be used to find the maximum value of a specific field within a table, and the data from this subquery can then be used to filter and join data from other tables.
  
* In order to use this technique, you must include all necessary fields in the SELECT statement, just as you would need to check all the relevant details when comparing suppliers. You also need to be careful to remove any duplicate data, just as you would avoid ordering the same ingredient from multiple suppliers.
  
* Ultimately, the goal is to use a subquery as a temporary table to help you combine data from multiple tables in the most efficient and effective way possible, just as a chef would combine the best ingredients from the best suppliers to create the best dish.

#### Subquery inside from
The last type of subquery you will work with is one inside of FROM.

You will use this to determine the number of languages spoken for each country, identified by the country's local name! (Note this may be different than the name field and is stored in the local_name field.)

***Instructions (1)***
- Begin by determining for each country code how many languages are listed in the languages table using SELECT, FROM, and GROUP BY.
- Alias the aggregated field as lang_num.

In [ ]:
-- Select fields (with aliases)
SELECT code, COUNT(*) AS lang_num
  -- From languages
  FROM languages
-- Group by code
GROUP BY code;

***Instructions (2)***

1. Include the previous query (aliased as subquery) as a subquery in the FROM clause of a new query.
   
2. Select the local name of the country from countries.
   
3. Also, select lang_num from subquery.
   
4. Make sure to use WHERE appropriately to match code in countries and in subquery.
   
5. Sort by lang_num in descending order.

In [ ]:
SELECT local_name, subquery.lang_num
  FROM countries,
  	(SELECT code, COUNT(*) AS lang_num
  	 FROM languages
  	 GROUP BY code) AS subquery
  WHERE countries.code = subquery.code
ORDER BY lang_num DESC;

#### Advanced Subquery 
You can also nest multiple subqueries to answer even more specific questions.

In this exercise, for each of the six continents listed in 2015, you'll identify which country had the maximum inflation rate, and how high it was, using multiple subqueries.

***Instructions (1)***
1. Create an INNER JOIN with countries on the left and economies on the right with USING, without aliasing your tables or columns.
   
2. Retrieve the country's name, continent, and inflation rate for 2015.

In [ ]:
-- Select fields
SELECT name, continent, inflation_rate
  -- From countries
  FROM countries
  	-- Join to economies
  	INNER JOIN economies
    -- Match on code
    USING (code)
-- Where year is 2015
WHERE year = 2015;

***Instructions (2)***
Select the maximum inflation rate in 2015 AS max_inf grouped by continent using the previous step's query as a subquery in the FROM clause.

Thus, in your subquery you should:
1. Create an inner join with countries on the left and economies on the right with USING (without aliasing your tables or columns).
   
2. Retrieve the country name, continent, and inflation rate for 2015.
   
3. Alias the subquery as subquery.

This will result in the six maximum inflation rates in 2015 for the six continents as one field table. Make sure to not include continent in the outer SELECT statement.

In [ ]:
-- Select the maximum inflation rate as max_inf
SELECT MAX(inflation_rate) AS max_inf
  -- Subquery using FROM (alias as subquery)
  FROM (
      SELECT name, continent, inflation_rate
      FROM countries
      INNER JOIN economies
      USING (code)
      WHERE year = 2015) AS subquery
-- Group by continent
GROUP BY continent;

***Instructions (3)***
1) Now it's time to append your second query to your first query using AND and IN to obtain the name of the country, its continent, and the maximum inflation rate for each continent in 2015.
2) For the sake of practice, change all joining conditions to use ON instead of USING.

In [ ]:
-- Select fields
SELECT name, continent, inflation_rate
  -- From countries
  FROM countries
	-- Join to economies
	INNER JOIN economies
	-- Match on code
	ON countries.code = economies.code
  -- Where year is 2015
  WHERE year = 2015
    -- And inflation rate in subquery (alias as subquery)
    AND inflation_rate IN (
        SELECT MAX(inflation_rate) AS max_inf
        FROM (
             SELECT name, continent, inflation_rate
             FROM countries
             INNER JOIN economies
             ON countries.code = economies.code
             WHERE year = 2015) AS subquery
      -- Group by continent
        GROUP BY continent);

***XP:*** This code works since each of the six maximum inflation rate values occur only once in the 2015 data. Think about whether this particular code involving subqueries would work in cases where there are ties for the maximum inflation rate values.

#### Subquery Challenge

Let's test your understanding of the subqueries with a challenge problem! Use a subquery to get 2015 economic data for countries that do not have

1. gov_form of 'Constitutional Monarchy' or
   
2. 'Republic' in their gov_form.
   
Here, gov_form stands for the form of the government for each country. Review the different entries for gov_form in the countries table.

***Instructions (1)***
1. Select the country code, inflation rate, and unemployment rate.
   
2. Order by inflation rate ascending.
   
3. Do not use table aliasing in this exercise.

In [ ]:
-- Select fields
SELECT code, inflation_rate, unemployment_rate
  -- From economies
  FROM economies
  -- Where year is 2015 and code is not in
  WHERE year = 2015 AND code NOT IN
  	-- Subquery
  	(SELECT code
  	 FROM countries
  	 WHERE (gov_form = 'Constitutional Monarchy' OR gov_form LIKE '%Republic%'))
-- Order by inflation rate
ORDER BY inflation_rate;

### Course Review

The text provides a course review of SQL and PostgreSQL, specifically covering the types of joins, set theory clauses, semi-joins and anti-joins, and subqueries. It starts by highlighting the four types of joins, which are INNER JOIN, LEFT JOIN, RIGHT JOIN, and FULL JOIN, and also explains the differences between them. The text then moves on to explain the differences between set theory clauses, including UNION, UNION ALL, INTERSECT, and EXCEPT. It also covers semi-joins and anti-joins, explaining how they are useful in filtering tables based on specific conditions. The text then goes on to explain the three types of basic subqueries that are commonly used in SQL, including subqueries in the WHERE, SELECT, and FROM clauses. The text concludes by encouraging the reader to take on the challenge problems to solidify their understanding of SQL and PostgreSQL.

***Analogy:***
* Think of learning SQL and PostgreSQL like learning how to navigate a complex city with different roads and intersections. Just like a city has different types of roads that lead to different destinations, SQL has different types of joins that lead to different results. You need to know which roads to take to reach your destination just like you need to know which join to use to get the desired output.

* Additionally, just like a city has different neighborhoods with different characteristics, tables in a database have different attributes and fields that can be compared and combined through set theory clauses like UNION and INTERSECT.

* Finally, think of subqueries as secret shortcuts or hidden paths that can help you get to your destination faster or with more specific information. Just like in SQL, where subqueries can be used to filter, sort or group data in different ways to get specific results.

#### Final Challenge

* Welcome to the end of the course! The next three exercises will test your knowledge of the content covered in this course and apply many of the ideas you've seen to difficult problems. Good luck!

* Read carefully over the instructions and solve them step-by-step, thinking about how the different clauses work together.

* In this exercise, you'll need to get the country names and other 2015 data in the economies table and the countries table for Central American countries with an official language.

***Instructions (1)***

1) Select unique country names. Also select the total investment and imports fields.
   
2) Use a left join with countries on the left. (An inner join would also work, but please use a left join here.)
   
3) Match on code in the two tables AND use a subquery inside of ON to choose the appropriate languages records.
   
4) Order by country name ascending.
   
5) Use table aliasing but not field aliasing in this exercise.

In [ ]:
-- Select fields
SELECT DISTINCT name, total_investment, imports
  -- From table (with alias)
  FROM countries AS c
    -- Join with table (with alias)
    LEFT JOIN economies AS e
      -- Match on code
      ON (c.code = e.code
        -- and code in Subquery
        AND c.code IN (
          SELECT l.code
          FROM languages AS l
          WHERE official = 'true'
        ) )
  -- Where region and year are correct
  WHERE region = 'Central America' AND year = 2015
-- Order by field
ORDER BY name;

#### Final Challenge (2)

Whoofta! That was challenging, huh?

Let's ease up a bit and calculate the average fertility rate for each region in 2015.

***Instructions (1)***
1. Include the name of region, its continent, and average fertility rate aliased as avg_fert_rate.
   
2. Sort based on avg_fert_rate ascending.
   
3. Remember that you'll need to GROUP BY all fields that aren't included in the aggregate function of SELECT.

In [ ]:
-- Select fields
SELECT region, continent, AVG(fertility_rate) AS avg_fert_rate
  -- From left table
  FROM countries AS c
    -- Join to right table
    INNER JOIN populations AS p
      -- Match on join condition
      ON c.code = p.country_code
  -- Where specific records matching some condition
  WHERE year = 2015
-- Group appropriately?
GROUP BY region, continent
-- Order appropriately
ORDER BY avg_fert_rate;

***XP:*** It seems that the average fertility rate is lowest in Southern Europe and highest in Central Africa. Two down, one to go!

#### Final Challenge (3)

Welcome to the last challenge problem. By now you're a query warrior! Remember that these challenges are designed to take you to the limit to solidify your SQL knowledge! Take a deep breath and solve this step-by-step.

You are now tasked with determining the top 10 capital cities in Europe and the Americas in terms of a calculated percentage using city_proper_pop and metroarea_pop in cities.

Do not use table aliasing in this exercise.

***Instructions (1)***

1. Select the city name, country code, city proper population, and metro area population.
   
2. Calculate the percentage of metro area population composed of city proper population for each city in cities, aliased as city_perc.
   
3. Focus only on capital cities in Europe and the Americas in a subquery.
   
4. Make sure to exclude records with missing data on metro area population.
   
5. Order the result by city_perc descending.
   
6. Then determine the top 10 capital cities in Europe and the Americas in terms of this city_perc percentage.

In [ ]:
-- Select fields
SELECT name, country_code, city_proper_pop, metroarea_pop,
	  -- Calculate city_perc
      city_proper_pop / metroarea_pop * 100 AS city_perc
  -- From appropriate table    
  FROM cities
  -- Where
  WHERE name IN
    -- Subquery
    (SELECT capital
     FROM countries
     WHERE (continent = 'Europe'
        OR continent LIKE '%America'))
       AND metroarea_pop IS NOT NULL
-- Order appropriately
ORDER BY city_perc DESC
-- Limit amount
LIMIT 10;