# Capstone Two: Data Wrangling

The data wrangling portion of the project involves the process of acquiring, organizing, defining, and cleaning the data in a way that makes it easy to work with for the rest of the capstone project. The dataset chosen for this project contains all the stats of top Education/Ed-Tech apps in the Google Play Store. To load the data into the Jupyter notebook, the pandas library is used along with the read_csv() function, which is specifically used to read data from a CSV file. It is important to note that depending on the type of data that needs to be read in, other functions like read_excel() for Excel files or read_sql() for data stored in a SQL database may be used.

### Loading the data

In [10]:
# Capstone Two - Data Wrangling
import pandas as pd

df = pd.read_csv('edtech (1).csv')

df.head()

,Unnamed: 0,title,installs,score,ratings,reviews,size,androidVersion,developer,contentRating,containsAds,released,updated,version
0,0,BYJU'S – The Learning App,100000000.0,4.122065,1745108.0,947.0,167M,5.0,BYJU'S,Everyone,False,"Jul 6, 2015",1.651665e+09,10.1.1.13300
1,1,Duolingo: language lessons,100000000.0,4.573800,12512116.0,592133.0,Varies with device,Varies,Duolingo,Everyone,True,"May 29, 2013",1.652122e+09,Varies with device
2,2,"IIT JEE, NEET, NCERT Solutions",50000000.0,4.220000,574552.0,307.0,22M,5.0,Doubtnut: Doubt Solving & Video Solutions App,Everyone,False,"Oct 14, 2016",1.652126e+09,7.9.67
3,3,Unacademy Learner App,50000000.0,3.358490,951700.0,452.0,Varies with device,Varies,Unacademy,Everyone,False,"Feb 15, 2017",1.651834e+09,Varies with device
4,4,Noon Academy – Student Learning App,10000000.0,4.252337,103191.0,459.0,52M,5.0,Noon Academy,Everyone,False,"Mar 12, 2017",1.652216e+09,4.6.32

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81 entries, 0 to 80
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      81 non-null     int64
 1   title           81 non-null     object
 2   installs        81 non-null     float64
 3   score           81 non-null     float64
 4   ratings         59 non-null     float64
 5   reviews         81 non-null     float64
 6   size            81 non-null     object
 7   androidVersion  81 non-null     object
 8   developer       81 non-null     object
 9   contentRating   81 non-null     object
 10  containsAds     81 non-null     bool
 11  released        81 non-null     object
 12  updated         81 non-null     float64
 13  version         81 non-null     object
dtypes: bool(1), float64(5), int64(1), object(7)
memory usage: 8.4+ KB

### Exploring and understanding the edtech dataset

In [12]:
# Check the size of dataset using the shape
df.shape

(81, 14)

In [13]:
# Check the datatypes of columns using dtypes
df.dtypes

Unnamed: 0          int64
title              object
installs          float64
score             float64
ratings           float64
reviews           float64
size               object
androidVersion     object
developer          object
contentRating      object
containsAds          bool
released           object
updated           float64
version            object
dtype: object

In [14]:
# Check for missing values in dataset using isnull
df.isnull()

,Unnamed: 0,title,installs,score,ratings,reviews,size,androidVersion,developer,contentRating,containsAds,released,updated,version
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,False,False,False,False,True,False,False,False,False,False,False,False,False,False
77,False,False,False,False,True,False,False,False,False,False,False,False,False,False
78,False,False,False,False,True,False,False,False,False,False,False,False,False,False
79,False,False,False,False,True,False,False,False,False,False,False,False,False,False
80,False,False,False,False,True,False,False,False,False,False,False,False,False,False

# check for duplicated observations

In [15]:
df.duplicated()

0     False
1     False
2     False
3     False
4     False
      ...
76    False
77    False
78    False
79    False
80    False
Length: 81, dtype: bool